.main_box{
 width: 500px;
 height: 130px;
 transition: height 0.3s;
}
#title{
    text-align: center;
}
#input_box{
    display: flex; 
    justify-content: center;
    align-items: center;
}
#input{
    width: 400px;
    height: 34px; 
    border: 1px solid #ccc; 
    border-radius: 4px 0 0 4px; 
    padding: 0 10px;
}
#input:focus{
    border-color: rgb(217, 240, 240);
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
#add_btn{
    height: 35px;
    margin-left: -3px;
    border: 1px solid #ccc;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    background-color: white;
    padding: 0 10px; 
}
#add_btn:hover{
    background-color: rgb(217, 240, 240);
}
.list_box ul {
    list-style-type: none;
    padding: 0;
    margin: 0px 17px 0px 20px;
}

.list_box li {
    list-style-type: none;
    padding: 10px;
    margin: -1px 0; 
    border: 1px solid #ccc;
    background-color: white; 
}

/* 첫 번째 li 요소의 상단 마진은 제거하지 않음 */
.list_box li:first-child {
    margin-top: 10px;
}

/* 마지막 li 요소의 하단 마진은 제거하지 않음 */
.list_box li:last-child {
    margin-bottom: 0;
}